{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%7CRaleway" type="text/css"/>
  <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block extrastyle %}{% endblock %}

  <style>
    body {
      font-family: "Open Sans";
      font-size: 16px;
      min-height: 736px;
    }
    h1, h2, h3, h4, h5 {
      font-family: "Raleway";
    }
    .helptext {
        /* a copy of bootstrap help-block */
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #737373;
    }
    /* for default Django form as p */
    form label {
        width: 10em;
        text-align: right;
    }
  </style>
</head>

<body>
  <div class="container" >

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
    {% endblock %}
  </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}

</body>
</html>
